h1,h2,h3{
    text-align: center;
}
h2{
    margin: 5px ;
}
span{
    font-weight: bold;
}
.span-blue{
    color: blue;
}
.canvas-container{
    display: flex;
    align-items: center;
    gap: 1%;
    height: 70vh;
    margin: 0 1vw;
    background-color: rgb(66, 66, 68);
}
.canvas-info{
    flex: 7;
    margin-left: 1%;
    height: 100%;
    overflow-y: scroll;
}
canvas{
    flex: 4;
    min-width: 0px;
    max-height: 70vh;
}
p{
    /*text-align: justify;*/
    font-size: 17.5px;
    margin: 12px 5px
}
.seccion-de-botones{
    display: flex;
    justify-content: center;
    gap: 27px;
    align-items: center;
    margin: 10px 0;
}
.seccion-de-botones button{
    width: 90px;
    height: 27px;
}
.input-color{
    background: none;
    border-style: none;
}
.input-number{
    width: 40px;
}
footer a{
    padding-right: 15px;
}