h1,h2,h3{
    text-align: center;
}
h2{
    margin: 0 ;
}
span{
    font-weight: bold;
}
.span-blue{
    color: blue;
}
.canvas-container{
    display: flex;
    align-items: flex-start;
    gap: 1%;
    height: 70vh;
    margin: 0 1vw;
    background-color: rgb(66, 66, 68);
}
.canvas-info{
    flex: 7;
    margin-left: 1%;
    
}
canvas{
    flex: 4;
    min-width: 0px;
    max-height: 70vh;
}
p{
    /*text-align: justify;*/
    font-size: 17.5px;
    margin: 12px 5px
}