h1,h2{
    text-align: center;
}
h2{
    margin: 0 ;
    background-color: rgb(202, 143, 204);
}
.canvas-container{
    display: flex;
    align-items: flex-start;
    gap: 1%;
    height: 70vh;
    margin: 0 1vw;
    background-color: rgb(189, 212, 233);
}
.canvas-info{
    flex: 7;
    margin-left: 1%;
    background-color: rgb(149, 119, 177);
    
}
canvas{
    flex: 4;
    min-width: 0px; 
}
p{
    text-align: justify;
    margin: 10px 5px
}